body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-attrib{
    width: 50px !important;
    height: 50px !important;
    display: block !important;
    margin: 10px 0 0 0 !important;
    padding: 0px !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-attrib .mapboxgl-ctrl-attrib-button{
    display: block;
    width: 50px !important;
    height: 50px !important;
    background-color: transparent !important;
    background-image: url('../../public/logo_no_bg.png');
    background-size: cover;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-attrib .mapboxgl-ctrl-attrib-inner > *, 
.mapboxgl-ctrl-top-left .mapboxgl-ctrl-attrib .mapboxgl-ctrl-icon{
    display: none !important;
}

.mapbox-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 10px 0px 5px 0px;
    border: 0px solid transparent;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
}

.mapbox-sidebar{
    position: absolute;
    top: 0;
    right: -530px;
    height: 95vh;
    width: 89vw;
    max-width: 500px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    z-index: 3;
    transition: right 0.5s;
}

.mapbox-sidebar.active{
    right: -20px;
}

.mapbox-sidebar-toggle{
    position: absolute;
    bottom: 40px;
    right: 10px;
    padding: 12px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 8px #888888;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.mapbox-sidebar-toggle:hover{
    background-color: #EFEFEF;
}

.mapbox-sidebar .mapbox-sidebar-toggle{
    bottom: 10px;
    right: 20px;
    color: white;
    background-color: #007bff;
}

.mapbox-sidebar .mapbox-sidebar-toggle:hover{
    background-color: #1583f9;
}

.mapbox-sidebar .content{
    width: 100%;
    height: 91%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 30px 25px 10px 15px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.mapbox-sidebar .content::-webkit-scrollbar {
    display: none;
}

.mapbox-sidebar .buttons{
    overflow: hidden;
    height: 9%;
    padding: 10px 25px 10px 15px;
    border-top: 1px solid #CCCCCC;
}

.mapbox-sidebar .buttons .nav-item a{
    padding-left: 5px;
    padding-right: 5px;
}

.mapbox-sidebar .buttons .nav-item a.active{
    color: #555555;
    cursor: auto;
}

.location-buttons .badge{
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    height: 17px;
    font-size: 10px;
    color: white;
    cursor: pointer;
}
